<span id="news_content">
<div class="main_content">
  <h2 class="dashboard"><%= @news.length > 0 ? t(:news) : t(:no_news) %> &nbsp;
    <span style="font-size:12px;">(<%= link_to_remote session[:toggle_text], {:url => toggle_news}, :href => toggle_news %>
      )</span></h2>
  <ul class="DashboardTree">
    <% perm = Array.[](t(:viewer), t(:editor), t(:manager)) %>
    <% action = Array.[](t(:set_you), t(:removed_you)) %>
    <% for record in @news %>
        <% case record['type']
            when 0 then %>
            <!-- type 0 - when content of page is changed -->
            <% if not record['nested'].nil? %>
                <li class="Collapsed" onclick="toggleTreeElement(this,event,6);">
            <% else %>
                <li>
            <% end %>
            <span id="user"><%= record['who'] %></span> <%= t(:edited) %> <%= record['what'] %>
            <%= t(:at) %> <%= link_to record['page'].title, record['page'].get_path %>
            <br/>
            <span id="time"><%= t(:before_date) + distance_of_time_in_words_to_now(record['when'].to_time.localtime, true) + t(:after_date) %></span>
            &nbsp; <%= link_to t(:show_from), record['page'].get_path + ";revision?revision=" + record['revision'] %>
            <br/>
            <% if not record['nested'].nil? %>
                <ul style="display:none;">
                  <% for nested_record in record['nested'] %>
                      <li>
                        <span id="user"><%= nested_record['who'] %></span> <%= t(:edited) %> <%= nested_record['what'] %>
                        <%= t(:at) %> <%= link_to record['page'].title, record['page'].get_path %>
                        <br/>
                        <span id="time"><%= t(:before_date) + distance_of_time_in_words_to_now(nested_record['when'].to_time.localtime, true) + t(:after_date) %></span>
                        &nbsp; <%= link_to t(:show_from), record['page'].get_path + ";revision?revision=" + nested_record['revision'] %>
                        <br/>
                      </li>
                  <% end %>
                </ul>
            <% end %>
            </li>
            <!-- end of type 0 -->
        <% when 1 then %>
            <!-- type 1 - when user status is changed within group -->
            <li>
              <span id="editor"><%= record.editor.name %></span>
              <%= action[record.action-1] %>
              <%= t(:as)%>
              <span id="role"><%= perm[record.role-1] %></span>
              <%= t(:for_group)%>
              <span id="group"><%= record.group.name %></span>
              <br/>
              <span id="time"><%= t(:before_date) + distance_of_time_in_words_to_now(record['when'].to_time.localtime, true) + t(:after_date) %></span>
            </li>
            <!-- end of type 1 -->
        <% when 2 then %>
            <!-- type 2 - when user permissions are changed within page -->
            <li>
              <span id="user"><%= record.user.name %></span>
              <%= action[record.action-1] %>
              <%= t(:as)%>
              <span id="role"><%= perm[record.role-1] %></span>
              <%= t(:for_page)%>
              <span id="page"><%=link_to record.page.title, record.page.get_path %></span>
              <br/>
              <span id="time"><%= t(:before_date) + distance_of_time_in_words_to_now(record['when'].to_time.localtime, true) + t(:after_date) %></span>
            </li>
            <!-- end of type 2 -->
        <% end %>
    <% end %>
  </ul>
  <%= will_paginate @news, :prev_label => t("pagination.prev_label"), :next_label => t("pagination.next_label"), :style => 'position:relative; top:60%; left:100%; background:none;' %>
</div>
</span>

