<% record = object %>
<% if not record['nested'].nil? %>
    <li class="Collapsed">
<% else %>
    <li>
<% end %>
<span class="user"><%= record['who'] %></span> <%= t("views.page.edited") %> <%= record['what'] %>
<%= t("views.page.at") %> <%= link_to record['page'].title, page_path(record['page']) %>
<br/>
<span class="time"><%= t("views.page.before_date") + distance_of_time_in_words_to_now(record['when'].to_time.localtime, true) + t("views.page.after_date") %></span>
&nbsp; <%= link_to t("views.page.show_from"), page_path(record['page'], :revision, :revision => record['revision'].to_s) %>
<br/>
<% if not record['nested'].nil? %>
    <span></span>
    <%= link_to "#{record['nested'].size} #{t("views.page.similar_stories")}", '#', :onclick =>'showMoreStories(this)', :style => 'display:none' %>
    <ul class="hidden">
      <% for nested_record in record['nested'] %>
          <li>
            <span class="user"><%= nested_record['who'] %></span> <%= t("views.page.edited") %> <%= nested_record['what'] %>
            <%= t("views.page.at") %> <%= link_to record['page'].title, record['page'].get_path %>
            <br/>
            <span class="time"><%= t("views.page.before_date") + distance_of_time_in_words_to_now(nested_record['when'].to_time.localtime, true) + t("views.page.after_date") %></span>
            &nbsp; <%= link_to t("views.page.show_from"), page_path(record['page'], :revision, :revision => nested_record['revision'].to_s) %>
            <br/>
          </li>
      <% end %>
    </ul>
<% end %>
</li>