<div class="holder_right_dark">
  <div class="header">
    <div class="header_content">
      <h1><%= t(:hello) %>, <%= @current_user.name %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  
  <%= render :partial => 'news' %>
  <div class="main_content_right">
    <div class="favourite_content">
      <h2 class="favourites"><%= icon_tag('star.png', :alt => t(:star))%>&nbsp;<%= t(:pages_watching)%>(<%= @current_user.favorite_pages.length %>)</h2>
      
      <% for favorite in @current_user.favorite_pages %>
          <p onmouseover="visible_remove_icon(this, 'visible', 1)" onmouseout="visible_remove_icon(this, 'hidden', 1)">
            <%= link_to favorite.title, page_path(favorite) %>  <%= " " + t(:by) + " " + favorite.page_parts_revisions.last.user.username %>
            <%= link_to_remote icon_tag('cancel.png', :border => 0, :title => t(:remove_from_favorites), :alt => ''), {:url => { :controller => "dashboard", :action => "remove_favorite", :id => favorite.id }}, :href => url_for(:controller => "dashboard", :action => "remove_favorite", :id => favorite.id), :style => 'visibility:hidden' %>
          </p>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_dark">
  </div>
</div>

