<h1><%= t(:hello) %>, <%= @current_user.name %></h1>
<table class="favorite_table" id="Favorites">
  <th><%= t(:pages_watching) %></th>
  <th><%= @current_user.favorite_pages.length %></th>
  <% for favorite in @current_user.favorite_pages %>
      <tr onmouseover="visible_remove_favorite(this, 'visible')" onmouseout="visible_remove_favorite(this, 'hidden')">
        <td><%= link_to favorite.title, favorite.get_path %></td>
        <td><%= link_to_remote icon_tag('cancel.png', :border => 0, :title => t(:remove_from_favorites), :alt => ''), {:url => { :controller => "dashboard", :action => "remove_favorite", :id => favorite.id }}, :href => url_for(:controller => "dashboard", :action => "remove_favorite", :id => favorite.id), :style => 'visibility:hidden' %></td>
      </tr>
  <% end %>
</table>
<div class="dashboard_news">
  <h2><%= t(:news) %></h2>
  <% last = nil %>
  <% index = 0 %>
  <ul class="DashboardTree">
    <% for record in @news %>
        <% index += 1 %>
        <% if !last.nil? and (record['who'].eql?(last['who']) and record['page_id'].eql?(last['page_id'])) %>
            <li>
              <span id="user"><%= record['who'] %></span> <%= t(:edited) %> <%= record['what'] %>
              <%= t(:at) %> <%= link_to Page.find_by_id(record['page_id']).title, Page.find_by_id(record['page_id']).get_path %>
              <br/> <span id="time"><%= t(:before_date) + distance_of_time_in_words_to_now(record['when'].to_time.localtime, true) + t(:after_date) %></span>
              &nbsp; <%= link_to t(:show_from), Page.find_by_id(record['page_id']).get_path + ";revision?revision=" + record['revision'] %>
              <br/>
            </li>
        <% else %>
            <% unless last.nil? %>
                </ul>
                </li>
            <% end %>
            <% if !@news[index].nil? and (record['who'].eql?(@news[index]['who']) and record['page_id'].eql?(@news[index]['page_id'])) %>
                <li class="Collapsed" onclick="toggleTreeElement(this,event,6);">
            <% else %>
                <li>
            <% end %>
             <span id="user"><%= record['who'] %></span> <%= t(:edited) %> <%= record['what'] %>
            <%= t(:at) %> <%= link_to Page.find_by_id(record['page_id']).title, Page.find_by_id(record['page_id']).get_path %>
            <br/>  <span id="time"><%= t(:before_date) + distance_of_time_in_words_to_now(record['when'].to_time.localtime, true) + t(:after_date) %></span>
            &nbsp; <%= link_to t(:show_from), Page.find_by_id(record['page_id']).get_path + ";revision?revision=" + record['revision'] %>
            <br/>
            <ul style="display:none;">
        <% end %>

        <% last = record.clone %>
    <% end %>
    </ul>
    </li>
    </div>