<div class="bonsai">
  <div class="holder_right">
    <div class="header">
      <div class="header_content">
        <span class="subtitle"><%= t(:group) %></span>
        <h1> <%=h @group.name %></h1>
      </div>
      <div class="header_right">
      </div>
    </div>
    <div class="main_content">

      <p>
        <% form_for(@group) do |f| %>
            <%= f.error_messages %>

          <p>
            <%= f.label t(:name) %><br />
            <%= f.text_field :name %><%= f.submit t(:btn_update) %>
          </p>
          <h2><%= t(:group_members) %></h2>
          <table id="Groups_memberstable">
            <thead>
            <tr>
              <th><%= t(:user) %></th>
              <th><%= t(:viewer) %></th>
              <th><%= t(:editor) %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% for permission in @group.group_permissions %>
                <tr>
                  <td><%=h permission.user.full_name %></td>
                  <% if permission.user == @current_user %>
                      <td><%= image_boolean(permission.can_view, t(:err_change_permission))  %></td>
                      <td><%= image_boolean(permission.can_edit, t(:err_change_permission)) %></td>
                  <% else %>
                      <td><%= link_to(image_boolean(permission.can_view, t(:toggle)), switch_view_group_permission_path(permission, :group_id => permission.group_id), :method => :put) %></td>
                      <td><%= link_to(image_boolean(permission.can_edit, t(:toggle)), switch_edit_group_permission_path(permission, :group_id => permission.group_id), :method => :put) %></td>
                  <% end %>
                  <td><%= link_to t(:remove_member), group_permission_path(permission, :group_id => permission.group_id), :method => :delete, :confirm => t(:destroy_question), :id => "Remove_member_#{permission.user.id}" %></td>
                </tr>
            <% end %>
            <tr>
              <td><%= t(:everyone) %></td>
              <td><%= link_to(image_boolean(@group.is_public?, t(:toggle)), switch_public_group_path(@group), :method => :put)%></td>
              <td><%= link_to(image_boolean(@group.is_editable?, t(:toggle)), switch_editable_group_path(@group), :method => :put)%></td>
            </tr>

            </tbody>
          </table>
      <% end %>
      <h2><%= t(:add_new_user) %></h2>
      <% form_tag group_permissions_path(:group_id => @group.id), :method => :post do %>
          <p><%= text_field('add_user', 'usernames') %> <%= select('add_user', 'type', ['editor', 'viewer']) %><%= submit_tag(t(:btn_add)) %></p>
          <div id="autocomplete" style="display: none;" class="autocomplete"></div>
          <script type="text/javascript">
              //<![CDATA[
              var autocompleter = new Ajax.Autocompleter('add_user_usernames', 'autocomplete', '/groups/autocomplete_for_user', {paramName: 'infix', method: 'get', select: 'username', tokens: ','});
              //]]>
          </script>
      <% end %>

      <%= link_to t(:back), groups_path %>
      </p>
    </div>
  </div>
  <div class="footer">
    <div class="footer_left">
      &nbsp;
    </div>
    <div class="footer_right_light">
      &nbsp;
    </div>
  </div>
</div>
