<h1>Editing group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <% for permission in @group.group_permissions %>
    <p><%=h permission.user.full_name %> <%=h permission.permission %> <%= link_to "Remove permission", group_permission_path(permission, :group_id => permission.group_id), :method => :delete %></p>
  <% end %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<% form_tag group_permissions_path(:group_id => @group.id), :method => :post do %>
<p><%= text_field('add_username', '') %> <%= select('add_permission', 'type', ['edit', 'view']) %><%= submit_tag("Add") %></p>
<% end %>

<%= link_to 'Back', groups_path %>