<div class="bonsai">
<h1>Group <%=h @group.name %></h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><%= f.submit "Update" %>
  </p>
  <h2>Group members</h2>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Viewer</th>
        <th>Editor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for permission in @group.group_permissions %>
        <tr>
          <td><%=h permission.user.full_name %></td>
          <% if permission.user == @current_user %>
            <td><%= image_boolean(permission.can_view, 'You cannot change your own permission')  %></td>
            <td><%= image_boolean(permission.can_edit, 'You cannot change your own permission') %></td>
          <% else %>
            <td><%= link_to(image_boolean(permission.can_view, 'Toggle permission'), switch_view_group_permission_path(permission, :group_id => permission.group_id), :method => :put) %></td>
            <td><%= link_to(image_boolean(permission.can_edit, 'Toggle permission'), switch_edit_group_permission_path(permission, :group_id => permission.group_id), :method => :put) %></td>
          <% end %>
          <td><%= link_to "Remove member", group_permission_path(permission, :group_id => permission.group_id), :method => :delete, :confirm => 'Are you sure?' %></td>
        </tr>
      <% end %>
      <tr>
        <td>Everyone</td>
        <td><%= link_to(image_boolean(@group.is_public?, 'Toggle permission'), switch_public_group_path(@group), :method => :put)%></td>
        <td><%= link_to(image_boolean(@group.is_editable?, 'Toggle permission'), switch_editable_group_path(@group), :method => :put)%></td>
      </tr>

    </tbody>
  </table>
<% end %>
<h2>Add new user</h2>
<% form_tag group_permissions_path(:group_id => @group.id), :method => :post do %>
  <p><%= text_field('add_username', '') %> <%= select('add_permission', 'type', ['editor', 'viewer']) %><%= submit_tag("Add") %></p>
<% end %>

<%= link_to 'Back', groups_path %>
</div>