<div class="bonsai">
  <div class="holder_right">
    <div class="header">
      <div class="header_content">
        <span class="subtitle"><%= t(:group) %></span>
        <h1> <%=h @group.name %></h1>
      </div>
      <div class="header_right">
      </div>
    </div>
    <div class="main_content">


        <% form_for(@group) do |f| %>
            <%= f.error_messages %>

          <p>
            <%= f.label t(:name) %><br />
            <%= f.text_field :name %>&nbsp;&nbsp;
          </p>
          <h2><%= t(:group_members) %></h2>
          <table id="Groups_memberstable">
            <thead>
            <tr>
              <th><%= t(:user) %></th>
              <th><%= t(:permission)%></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% for permission in @group.group_permissions %>
            <% opravnenie = 0 %>
                <tr>
                  <td><%=h permission.user.full_name %></td>
                  
                  <td><% if (permission.can_view)
                      opravnenie = 1 %><% end %>
                    <% if (permission.can_edit)
                        opravnenie = 2 %><% end %>
                    <select name="<%= permission.user.name%>_select" id="<%= permission.user.name%>_select">
                      <option value='1' <%= opravnenie == 1? "selected='selected'" : '' %>><%= t(:viewer) %></option>
                      <option value='2' <%= opravnenie == 2? "selected='selected'" : '' %>><%= t(:editor) %></option>
                    </select>
                  </td>
                  <td><%= link_to "<img src='../../images/icons/cancel.png'>", group_permission_path(permission, :group_id => permission.group_id), :method => :delete, :confirm => t(:destroy_question), :id => "Remove_member_#{permission.user.id}" %></td>
                </tr>
            <% end %>
            <tr>
              <td><%= t(:everyone) %></td>
              
              <td><select name="all_users_select" id="all_users_select">
                  <option value='0' selected='selected'>-</option>
                  <option value='1' <%= @group.is_public? ? "selected='selected'" : '' %>><%= t(:can_view) %></option>
                  <option value='2' <%= @group.is_editable? ? "selected='selected'" : '' %>><%= t(:can_edit) %></option>  
              </select>
              </td>
            </tr>

            </tbody>
          </table>

      <h2><%= t(:add_new_user) %></h2>
      <%# form_tag group_permissions_path(:group_id => @group.id), :method => :post do %>
          <p><%= text_field('add_user', 'usernames') %> <%= select('add_user', 'type', {t(:viewer) => "1", t(:editor) => "2"}) %>&nbsp;&nbsp;<%#= submit_tag(t(:btn_add), :class=> "small_button") %></p>
          <div id="autocomplete" style="display: none;" class="autocomplete"></div>
          <script type="text/javascript">
              //<![CDATA[
              var autocompleter = new Ajax.Autocompleter('add_user_usernames', 'autocomplete', '/groups/autocomplete_for_user', {paramName: 'infix', method: 'get', select: 'username', tokens: ','});
              //]]>
          </script>
      <%# end %>

          <%= t(:group_history) %> <%= link_to t(:link), permissions_history_group_path, :target => "_blank", :title => "PermissionsHistory" %>.<br/><br/>
          <%= f.submit t(:btn_update), :class=> "small_button" %><br/><br/>
          <%= link_to t(:back), groups_path %>
      <% end %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer_left">
    &nbsp;
  </div>
  <div class="footer_right_light">
    &nbsp;
  </div>
</div>
