<div class="bonsai">
  <h1>Groups Management</h1>
  <table>
    <thead>
      <tr>
        <th>Group</th>
        <th>Users</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for group in @groups %>
        <tr>
          <td><%=h group.name %></td>
          <td><%=h group.users.collect {|user| user.full_name }.join ', ' %></td>
          <td>
            <% if((@current_user.can_edit_group? group) && (group.name != @current_user.username)) %>
              <%= link_to 'Edit', edit_group_path(group) %> <%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %>
            <% else %>
              -
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New group', new_group_path %>
</div>