<h1><%= t(:new_group) %></h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t(:btn_create_group) %>
  </p>
<% end %>

<%= link_to t(:back), groups_path %>
