<% form_tag do %>
  <label><span><%= t("views.toolbar.login") %></span><%= text_field_tag 'username' %></label>
  <label><span><%= t("views.toolbar.password")%></span><%= password_field_tag 'password' %></label>
  <%= submit_tag 'Login' %>
<% end %>