<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%=h @page.full_title unless @page.nil? %></title>
  <%= stylesheet_link_tag 'bonsai' %>
  <% unless @page.nil? %>
        <% if @stylesheet %><%= stylesheet_link_tag @stylesheet %><% end %>
  <% end %>
  <%= javascript_include_tag 'wmd_creator.js' %>
  <!-- Syntax highlighter  -->
<% if (!@highlighter_display.nil?) and @highlighter_display %>
  <%= stylesheet_link_tag 'SyntaxHighlighter/shCore.css' %>
  <%= stylesheet_link_tag 'SyntaxHighlighter/shThemeDefault.css' %>

  <%= javascript_include_tag 'SyntaxHighlighter/shCore.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushAS3.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushBash.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushColdFusion.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushCpp.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushCSharp.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushDelphi.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushDiff.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushErlang.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushGroovy.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushJava.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushJavaFX.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushJScript.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushPerl.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushPhp.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushPlain.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushPowerShell.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushPython.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushRuby.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushScala.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushSql.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushVb.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushXml.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushLua.js' %>
  <%= javascript_include_tag 'SyntaxHighlighter/shBrushMatlab.js' %>
<% end %>

  <%= javascript_include_tag :defaults, :cache => true %>
  <%= render :partial => 'shared/rss_link' %>
  <%= javascript_include_tag 'menu.js' %>
  <%= javascript_include_tag 'addons.js' %>
  <% if(APP_CONFIG['authentication_method'] == 'facebook') %>
    <%=  fb_connect_javascript_tag %>
    <%= init_fb_connect "XFBML" %>
  <% end %>
</head>

<body onload="javascript:clickMenu('menu');setContentWidth();findTextareasAndCreateEditor();">

<%= render :partial => 'shared/toolbar' %>
