<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h @page.full_title unless @page.nil? %></title>

  <!-- page layout style  -->
  <%= stylesheet_link_tag 'bonsai' %>
  <% unless @page.nil? %>
      <!-- special layout style -->
      <%= stylesheet_link_tag @page.resolve_layout  %>
  <% end %>
  <!-- end of page layout style  -->


  <!-- Start Syntax Highlight -->
  
  <%= javascript_include_tag 'wmd_creator.js' %>
  <%= javascript_include_tag 'wmd.js' %>
  <!-- End WMD Editor -->
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= render :partial => 'shared/rss_link' %>
  <%= javascript_include_tag 'menu.js' %>
  <%= javascript_include_tag 'addons.js' %>
  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect "XFBML"%>
</head>

<body onload="javascript:clickMenu('menu');setContentWidth();findTextareasAndCreateEditor();">

<%= render :partial => 'shared/toolbar' %>
  