<% form_tag login_path do %>
    <div class="login_area">
      <div class="login_inputs">
        <label for="username"><%= t(:login) %></label> <%= text_field_tag 'username', nil, :size => 10, :class=>'small_input' %>
        <label for="password"><%= t(:password) %></label> <%= password_field_tag 'password', nil, :size => 15, :class=>'small_input' %>
      </div>
      <div style="float:right">
      <%= submit_tag t(:btn_log_in), :class => 'small_button' %>
      </div>
    </div>
<% end %>