<div id="toolbar" class="bonsai">
  <% unless @current_user.logged? %>
    <% form_tag login_path do %>
      <p class="login"><label>Login: <%= text_field_tag 'username', nil, :size => 10 %></label>
        <label>Password: <%= password_field_tag 'password', nil, :size => 15 %></label>
      <%= submit_tag 'Log in' %></p>
    <% end %>
  <% else %>
    <p class="login">Logged in as: <%= @current_user.full_name %> | <%= link_to "Log out", logout_path %></p>
  <% end %>
  <% unless @page.nil? || @no_toolbar %>
    <p class="actions">
      <% unless @hide_view_in_toolbar %><%= link_to image_tag('icons/page_white_text.png', :alt => '') + " View", @page.get_path %><% end %>
      <% if @current_user.can_view_page? @page %><%= link_to image_tag('icons/page_white_stack.png', :alt => '') + " History", page_history_path(@page) %><% end %>
      <% if @current_user.can_edit_page? @page %><%= link_to image_tag('icons/page_white_edit.png', :alt => '') + ' Edit', edit_page_path(@page) %><% end %>

      <% if @current_user.can_manage_page? @page %><%= link_to image_tag('icons/page_white_key.png', :alt => '') + " Manage",  manage_page_path(@page) %><% end %>
      <% if @current_user.logged? %><%= link_to image_tag('icons/group.png', :alt => '') + " Groups", groups_path %><% end %>
      <% if @current_user.can_edit_page? @page %><%= link_to image_tag('icons/page_white_link.png', :alt => '') + " Files", list_files_path(@page) %><% end %>
      <% if @current_user.can_view_page? @page %><%= link_to image_tag('icons/rss.png', :alt => 'RSS'), rss_url(@page, @current_user), :title => "RSS feed of page changes" %><% end %>
    </p>
    <% end %>
</div>
