<p>Add blank user <%= @blank_users %>?</p>
<% form_tag :controller => 'page', :action => :set_permission_to_blank_user do %>
<%= hidden_field_tag "blank_users", @blank_users %>
<%= hidden_field_tag "group_role", @group_role_type %>
<p><%= submit_tag "Add blank user" %> <%= button_to "Cancel" %></p>
<% end %>