<p><%= link_to t(:syntax_help), nil, :onclick => "return toggleDiv(event);" %></p>
<div style="display: none;">
  <ul>
     <li><%= t(:links)%>
      <ul>
        <li><%= t(:this_is)%> [an example](http://example.com/ "Title") <%= t(:inline_link)%></li>
        <li><%= t(:see_my)%> [About](/about/) <%= t(:for_details)%> </li>
        <li><%= t(:automatic_links)%> < http://example.com/></li>
      </ul>
    </li>
    <li>
      <%= t(:image)%>
      <ul>
        <li>
          ![Alt text](/path/to/img.jpg)
        </li>
        <li>
          ![Alt text](/path/to/img.jpg "Optional title")
        </li>
      </ul>
    </li>
    <li><%= t(:paragraphs)%></li>
    <li>
      <%= t(:headings)%>
      <ul>
        <li><%= t(:h1)%> </li>
        <li><%= t(:h2)%></li>
        <li><%= t(:h6)%></li>
      </ul>
    </li>
    <li>
      <%= t(:preformatted_text)%>
      <ul>
        <li><%= t(:bold)%> --/**text--/**</li>
        <li><%= t(:italic)%> -/*text-/*</li>
      </ul>
    </li>
    <li><%= t(:lists)%>
      <ul>
        <li><%= t(:lists_p1)%>
          <p>
            <%= t(:itemA)%><br/>
            <%= t(:itemB)%><br/>
            <%= t(:itemC)%><br/>
          </p>
        </li>
        <li><%= t(:lists_p2)%>
          <p>
            <%= t(:item1)%><br/>
            <%= t(:item2)%><br/>
            <%= t(:item3)%><br/>
          </p>
        </li>
      </ul>
    </li>
    <li>
     <%= t(:code_blocks)%>
    </li>

  </ul>
  <p><%= t(:more_info)%>
    <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown syntax</a></p>
</div>
