<div class="bonsai">
  <h1>Diff for <%=h @page.title %></h1>
   <div class="diff">
        <table>
          <tbody>
          <% for item in @output %>
                <% if (item[0] == '=')%>
                                <tr>
                                   <td class="line-unchanged"></td>
                                   <td class="line-unchanged"><%= item[1] %></td>
                                </tr>
                  <% end %>
               <% if (item[0] == '+')%>
                                <tr>
                                   <td class="line-added">+</td>
                                   <td class="line-added"><%= item[1] %></td>
                                </tr>
                  <% end %>
               <% if (item[0] == '-')%>
                                <tr>
                                   <td class="line-removed">-</td>
                                   <td class="line-removed"><%= item[1] %></td>
                                </tr>
                  <% end %>
                <% if (item[0] == '*')%>
                                <tr>
                                   <td class="line-changed">*</td>
                                   <td class="line-changed">
                                      <% for diff_item in item[1] %><% if (diff_item[0] == '=')%><span class="line-changed-same"><%= diff_item[1]%></span><% end %><% if (diff_item[0] == '+')%><span class="line-changed-add"><%= diff_item[1]%></span><% end %><% if (diff_item[0] == '-')%><span class="line-changed-del"><%= diff_item[1]%></span><% end %><% end %>
                                   </td>
                                </tr>
                <% end %>
             <% end %>
          </tbody>
        </table>
  </div>
</div>