<div class="bonsai">
  <div class="holder_right">
    <div class="header">
      <div class="header_content">
        <span class="subtitle"><%= t(:diff_for) %>:</span>
        <h1><%=h @page.title %></h1>
      </div>
      <div class="header_right">
      </div>
    </div>
    <div class="main_content">
      <div class="diff">
        <% for item in @changes %>
            <% item[1] = " " if item[1].blank? %>
            <% if (item[0] == '=')%><div class="line"><%=h item[1] %></div><% end %>
            <% if (item[0] == '+')%><div class="line addition"><%=h item[1] %></div><% end %>
            <% if (item[0] == '-')%><div class="line deletion"><%=h item[1] %></div><% end %>
            <% if (item[0] == '*')%><div class="line"><% for diff_item in item[1] %><% if (diff_item[0] == '=')%><%=h diff_item[1]%><% elsif (diff_item[0] == '+')%><span class="addition"><%=h diff_item[1]%></span><% elsif (diff_item[0] == '-')%><span class="deletion"><%=h diff_item[1]%></span><% end %><% end %></div><% end %>
        <% end %>
      </div>
<%= link_to t("views.groups.back"), :back %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>

