<script type="text/javascript">
    <%= render :partial => 'edit' %>
</script>

<div class="bonsai">
<div class="holder_right_dark">

<% form_for(:file_version, :url => save_edited_page_path(@page), :html => {:multipart => true, :id => "edit_form"}) do |f| %>

    <div class="header">
      <div class="header_content">
        <%= text_field_tag('title', @page.title) %>
      </div>
      <div class="header_right">
      </div>
    </div>


    <div class="main_content">

      <% if @current_user.can_manage_page? @page %>
          <p><%= label_tag 'layout', t(:layout) %>

          <%= select_tag :layout, options_for_select(@user_layouts, @layout),
               :onchange => remote_function(:with => "'parent_layout=#{@parent_layout}&layout='+encodeURIComponent(value)",
                                            :url => {:controller => "page",
                                            :action => 'showLayoutsHelper'})  %>
          </p>
          <div id="layout_details" class="lighter_bg" style="display:none;">
          </div>
      <% end %>

      <% for part in @page.ordered_page_parts %>
          <% if @undo or !part.current_page_part_revision.was_deleted %>
              <div id="page_part_id_<%= part.id %>" class="width100">
                <div class="page_part_listing">
                  <%= text_field_tag("parts_name[#{part.name}]", part.name) %>
                  <% if @page.page_parts.count > 1 %>
                  <div class="page_part_edit_remove_link">
                    <%= link_to_remote image_tag('icons/cancel_big.png', :title => t(:delete_page_part)), :update=> "page_part_id_#{part.id}", :url => remove_page_part_path(@page, part.id), :href => remove_page_part_path(@page, part.id),  :confirm => t(:'are_you_sure_to_delete_part'),  :html => {:id=>"part_id_#{part.name}", :href => remove_page_part_path(@page, part.id)}%>
                  </div>
                  <% end %>    
                  <div class="page_part_edit_remove_link" onclick="return toggleDiv('textarea_id_<%= part.id %>')">
                    <%= image_tag ('icons/edit_big.gif',:alt =>'Edit') %>
                  </div>
                </div>
                <div<%= ' style="display:none;"' unless part.name == 'body' %> class="width100" id="textarea_id_<%= part.id %>" >
                  <%= hidden_field_tag "parts_revision[#{part.name}]", part.current_page_part_revision.id %>

                  <% if part == @page_part %>
                      <%= text_area_tag "parts[#{part.name}]", @page_revision.body, :rows => 30, :style=>"width:100%" %>
                  <% else %>
                      <%=
                          text_area_tag "parts[#{part.name}]", part.current_page_part_revision.body, :rows => 30, :style=>"width:100%",
                                        :onfocus => remote_function( :url =>{ :controller => "page", :action => "add_lock" , :part_id => part.id}
                                        )
                      %>
                      <%= periodically_call_remote(
                              :url => {:controller => 'page', :action => 'update_lock', :part_id => part.id},
                              :frequency => APP_CONFIG['page_part']['saving_time'],
                              :condition => "(check_lock('#{part.id}') == true)"
                      )
                      %>

                  <% end %>
                  <%= render :partial => 'maruku_help' %>
                </div>
              </div>
          <% end %>
      <% end %>
      <p>
        <%= label_tag "summary", t(:summary) %>
        <%if @undo %>
            <%= text_field_tag('summary', 'Undid to revision' + @page_revision.id.to_s, :size => 40) %>
        <% else %>
            <%= text_field_tag('summary', nil, :size => 40) %>
        <% end %>
      </p>

      <p><%= t(:or) %> <a href="#" onclick="return toggleDiv('add_new_page_part');"><%= t(:add_new_page_part) %></a>.</p>
      <div style="display: none;" id="add_new_page_part">
        <p>
          <%= label_tag t(:new_part_name) %><br />
          <%= text_field_tag('new_page_part_name') %>
        </p>
        <p>
          <%= text_area_tag "new_page_part_text", "", {:rows => 20, :cols => 80} %>
        </p>
        <%= render :partial => 'maruku_help' %>
      </div>
      <% if @current_user.can_manage_page? @page %>
      <p><a href="#" onclick="return toggleDiv('more_options');"><%= t("more_options") %></a></p>
      <div style="display: none;" id="more_options">
        <%= t :page_parts_ordering%>
        <%= select_tag "ordering", "<option value='0' #{'selected=\"selected\"' if @page.ordering==0}>#{t("order_by_date")}</option><option value='1' #{'selected=\"selected\"' if @page.ordering==1}>#{t("order_by_name")}</option>" %>
      </div>
      <% end %>

      <%= hidden_field_tag('non_redirect', nil, :value => 1) %>
      <p><%= submit_tag t(:save), :name => 'Save', :class=> "small_button", :onclick => "subm('edit_form','save');" %>
      <%= submit_tag t(:preview), :name => 'Preview', :class=> "small_button", :onclick => "subm('edit_form','preview');" %></p>
    </div>

    <div class="main_content_right" style="width:244px;">

    <!-- FILES -->
      <div class="files lighter_bg">
      <h3><%= t(:files) %></h3>

      <% if @page.uploaded_files.empty? then %>
          <%= t(:no_files_uploaded) %>
      <% else %>
          <table class="files_history">
            <thead>
            <tr>
              <th></th>
              <th><%= t(:file) %></th>
              <th><%= t(:history) %></th>
            </tr>
            </thead>
            <tbody>
            <% for file in @page.uploaded_files %>
                <tr>
                  <% if (not file.current_file_version.nil?) %>
                      <td style="width:20px"><%= file_type_image_tag(file) %></td>
                      <td style="width:220px"><%= link_to truncate(file.filename), file.filename, :title => file.filename %></td>
                      <td style="text-align:center">
                        <% if (file.versions.length > 1) %>
                            <%= link_to icon_tag('file_rev.png', :alt => 'show file\'s history'), file_history_page_path(@page, file.filename) %>
                        <% else %>
                            <%= icon_tag('file_rev_dis.png', :alt => 'show file\'s history') %>
                        <% end %>
                      </td>
                  <% else %>
                      <td style="width:20px"><%= file_type_image_tag(file) %></td>
                      <td style="width:220px"><%= link_to file.filename, file.filename %></td>
                      <td style="text-align:center"><%= icon_tag('file_rev_dis.png', :alt => 'show file\'s history') %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

      <br />
      <div>
        <a href="#" onclick="return toggleDiv('attach_file');"><%= t(:attach_file) %>?</a>.
      </div>
      <div style="display: none;" id='attach_file'>
        <br/>
        <div>
          <label for="file_version"><%= t(:upload_file) %><br/><%= f.file_field :uploaded_data, :size =>'20' %></label>
        </div>
        <div class="info_warning">
          <%= t(:files_warning) %>
        </div>
      </div>
    </div>
    <!-- END OF FILES -->

     <% if @current_user.can_manage_page? @page %>
    <!--PAGE PERMISIONS -->
    <div class="lighter_bg" id="permissions">
    <h3><%= t(:permissions_for) %></h3>


      <%#= render :partial => 'page/remove_permission' %>
      <table class="page_permisions">
        <thead>
        <tr>
          <th><%= t(:group)%></th>
          <th><%= t(:permission)%></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @page.page_permissions.each_with_index do |permission, index| %>
            <tr id="group_<%= index %>">
              <% opravnenie = 0 %>

              <% if permission.group.users.include? @current_user %>
                  <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent)) ||(permission.can_view?) )
                      opravnenie = 1
                  end %>

                  <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent)) || (permission.can_edit?))
                      opravnenie = 2
                  end %>

                  <% if permission.can_manage?
                      opravnenie = 3
                  end %>
              <% else %>

                  <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent)) || (permission.can_view?))
                      opravnenie = 1
                  end %>

                  <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent)) || (permission.can_edit?))
                      opravnenie = 2
                  end %>

                  <% if permission.can_manage?
                      opravnenie = 3
                  end %>
              <% end %>


              <% if opravnenie > 0 %>
                  <td><%=h  permission.group.name %></td>
                  <td>
                    <select name="<%= permission.group.name%>_select" id="<%= permission.group.name%>_select">
                      <% if !(@page.is_editable?) %>
                          <option value='1' <%= opravnenie == 1? "selected='selected'" : '' %>><%= t(:viewer) %></option>
                      <% end %>
                      <option value='2' <%= opravnenie == 2? "selected='selected'" : '' %>><%= t(:editor) %></option>
                      <option value='3' <%= opravnenie == 3? "selected='selected'" : '' %>><%= t(:manager) %></option>
                    </select>
                  </td>

                  <td>
                       <% if opravnenie == 3 %><div class="ManagerHidden" style="visibility:hidden"></div>
                        <%= link_to_remote icon_tag('cancel.png', :title => t(:remove)), :update=> "group_#{index}", :url => _remove_permission_path(@page, index), :condition => "testManagers()", :href => _remove_permission_path(@page, index),  :confirm => t(:'are_you_sure_to_remove_permission') %>
                    <% else %>
                        <%= link_to_remote icon_tag('cancel.png', :title => t(:remove)), :update=> "group_#{index}", :url => _remove_permission_path(@page, index), :href => _remove_permission_path(@page, index),  :confirm => t(:'are_you_sure_to_remove_permission') %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        <tr>
          <td><%= t(:everyone) %></td>
          <!-- <td><%#= link_to image_boolean(@page.is_public?, t(:toggle)), switch_public_path(@page), {:method => :post} %></td> -->
          <td colspan="2"> <select name="everyone_select" id="everyone_select">
            <option selected = "selected" >-</option>
            <option value="1" <%= @page.is_public? ? selected = "selected": "" %> ><%= t(:can_view) %></option>
            <option value="2" <%=  @page.is_editable? ? selected = "selected" : "" %> ><%= t(:can_edit) %></option>
          </select>
          </td>
        </tr>
        </tbody>
      </table>

      <% unless @page.ancestors.empty? %>
          <h3><%= t(:inherited_permissions) %></h3>
          <table class="page_permisions">
            <thead>
            <tr>
              <th><%= t(:group)%></th>
              <th><%= t(:permission)%></th>
              <th><%= t(:via)%></th>
            </tr>
            </thead>
            <tbody>
            <% @page.ancestors.each do |ancestor| %>

                <% ancestor.page_permissions.each do |permission| %>
                    <tr>
                      <td><%=h  permission.group.name %></td>

                      <% opravnenie = 0 %>
                      <% if ancestor.is_public? %>
                          <% opravnenie = 1 %>
                      <% else %>
                          <% if permission.can_view?
                              opravnenie = 1
                          end %>
                      <% end %>
                      <% if ancestor.is_editable? %>
                          <% opravnenie = 2 %>
                      <% else %>
                          <% if permission.can_edit?
                              opravnenie = 2
                          end %>
                      <% end %>
                      <td><% if permission.can_manage?
                          opravnenie = 3
                      end %>
                        <% perm = Array.[](t(:viewer), t(:editor), t(:manager)) %>
                        <%= perm[opravnenie-1] %>
                        <% if opravnenie == 3 %><div class="ManagerHidden" style="visibility:hidden"></div><% end %>
                      </td>
                      <td><%= ancestor.sid %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
      <% end %>


      <h3><%= t(:add_group_permission) %></h3>
      <% form_tag :controller => 'page', :action => 'set_permissions' do %>
          <%= text_field_tag('add_group') %> <%= select('group_role', 'type',{t(:viewer) => "1", t(:editor) => "2", t(:manager)=> "3"}) %> <%#= submit_tag t(:set) %><br/>
          <div id="autocomplete" style="display: none;" class="autocomplete"></div>
          <script type="text/javascript">
              //<![CDATA[
              var autocompleter = new Ajax.Autocompleter('add_group', 'autocomplete', '/groups/autocomplete_for_groups', {paramName: 'infix', method: 'get', select: 'groupname', tokens: ','});
              //]]>
          </script>
      <% end %>
      <div class="info_warning">
        <%= t(:permissions_warning)%>
      </div>
      <br/> 
      <div class="files">
        <%= t(:permission_history) %> <%= link_to t(:link), perm_hist, :target => "_blank", :title => "PermissionsHistory" %>.
       </div>
      <!-- END OF PAGE PERMISIONS -->
    </div>
<%else%>
    <%= t(:permissions_error)%>
<%end %>
       </div>
<% end %>
</div>
</div>
<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_dark">
  </div>
</div>


















