<% form_tag '?update' do %>
  <p>
    <h1><%= label_tag 'title' %></h1>
    <%= text_field_tag('title', @page.title) %>
  </p>
  <% for part in @page.page_parts %>
    <h1><%=h part.name %></h1>
    <% if part == @page_part %>
      <%= text_area_tag "parts[#{part.name}]", @page_revision.body, :rows => 20, :cols => 80 %>
    <% else %>
      <%= text_area_tag "parts[#{part.name}]", part.current_page_part_revision.body, :rows => 20, :cols => 80 %>
    <%  end %>
    <p>
      <%= label_tag 'delete this page_part?' unless part.current_page_part_revision.was_deleted? %>
      <%= label_tag 'uncheck to undelete this page_part' if part.current_page_part_revision.was_deleted? %>
      <%= check_box_tag("is_deleted[#{part.name}]", 1, part.current_page_part_revision.was_deleted?) %>
    </p>
  <% end %>
  <p>
    <%= label_tag 'Summary' %>:
    <%if @page_revision %>
      <%= text_field_tag('summary', 'Undid to revision' + @page_revision.id.to_s) %>
    <% else %>
      <%= text_field_tag('summary') %>
    <% end %>
  </p>
  <p><%= submit_tag 'Save' %></p>
<% end %>

<% form_tag new_page_page_part_path(:page_id => @page.id), :method => :get do %>
  <p><%= submit_tag 'Add new page part' %></p>
<% end %>
