<% form_tag '?update' do %>
  <p>
    <h1><%= label_tag 'title' %></h1>
    <%= text_field_tag('title', @page.title) %>
  </p>
  <% for part in @page.page_parts %>
    <h1><%=h part.name %></h1>
    <%= text_area_tag "parts[#{part.name}]", part.current_page_part_revision.body, :rows => 20, :cols => 80 %>
  <% end %>
  <p><%= submit_tag 'Save' %></p>
<% end %>

<% form_tag new_page_page_part_path(:page_id => @page.id), :method => :get do %>
  <p><%= submit_tag 'Add new page part' %></p>
<% end %>

<% unless @page.parent.nil? %>
or inherit one from the parent:
  <% form_tag inherit_page_path(:id => @page.id), :method => :inherit do %>
    <p>
      <%= select('add_page_part','page_part_id', @page.parent.page_parts.collect {|c| [c.name, c.id] }) %>
      <%= submit_tag 'Inherit page_part' %>
    </p>
  <% end %>
<% end %>
