<div class="bonsai">
  <% form_tag edit_page_path(@page) do %>
    <p><label><%= label_tag :title %><br /><%= text_field_tag('title', @page.title) %></label></p>
    <% if @current_user.can_manage_page? @page %>
      <p><%= label_tag 'Layout' %><br /><%= select_tag 'layout', options_for_select([['Inherit', nil], ['PeWe Layout', 'pewe']], @page.layout) %></p>
    <% end %>
    <% for part in @page.page_parts %>
       <% unless part.current_page_part_revision.was_deleted %>
      <p><%= link_to part.name, nil, :onclick => "return toggleDiv(event);" %></p>
      <div<%= ' style="display:none;" ' unless part.name == 'body' %>>
        <% if part == @page_part %>
          <%= text_area_tag "parts[#{part.name}]", @page_revision.body, :rows => 30, :cols => 80 %>
        <% else %>
          <%= text_area_tag "parts[#{part.name}]", part.current_page_part_revision.body, :rows => 30, :cols => 80 %>
        <% end %>
        <%= render :partial => 'maruku_help' %>
        <p>
          <%= check_box_tag("is_deleted[#{part.name}]", 1, part.current_page_part_revision.was_deleted?) %>
          <%= label_tag 'delete this page_part?' unless part.current_page_part_revision.was_deleted? %>
          <%= label_tag 'uncheck to undelete this page_part' if part.current_page_part_revision.was_deleted? %>
        </p>
      </div>
      <% end %>
    <% end %>
    <p>
      <%= label_tag 'Summary' %><br />
      <%if @undo %>
        <%= text_field_tag('summary', 'Undid to revision' + @page_revision.id.to_s, :size => 40) %>
      <% else %>
        <%= text_field_tag('summary', nil, :size => 40) %>
      <% end %>
    </p>
    <p><%= submit_tag 'Save' %></p>
  <% end %>

  <p>Or <a href="#" onclick="return toggleDiv(event);">add a new page part</a>.</p>
  <div style="display: none;">
    <% form_tag "?new-part" do %>
      <p>
        <%= label_tag "new page part name" %><br />
        <%= text_field_tag('new_page_part_name') %>
      </p>
      <p>
        <%= text_area_tag "new_page_part_text", "", {:rows => 20, :cols => 80} %>
      </p>
      <%= render :partial => 'maruku_help' %>
      <p><%= submit_tag 'Add new page part' %></p>
    <% end %>
  </div>
  <p>Or <a href="#" onclick="return toggleDiv(event);">attach a file to this page</a>.</p>
  <div style="display: none;">
    <% form_for(:uploaded_file, :url => upload_file_path(@page), :html => {:multipart => true}) do |f| %>
      <p><label for="uploaded_file">Upload a File<br/><%= f.file_field :uploaded_data %></label><%= submit_tag 'Upload' %></p>
    <% end %>
  </div>
</div>