<% form_tag '?update' do %>
  <p>
    <%= label_tag :title %><br />
    <%= text_field_tag('title', @page.title) %>
  </p>
  <% for part in @page.page_parts %>
    <% if part == @page_part %>
      <%= label_tag part.name %><br />
      <%= text_area_tag "parts[#{part.name}]", @page_revision.body, :rows => 20, :cols => 80 %>
    <% else %>
      <%= label_tag part.name %><br />
      <%= text_area_tag "parts[#{part.name}]", part.current_page_part_revision.body, :rows => 20, :cols => 80 %>
    <%  end %>
    <p>
      <%= label_tag 'delete this page_part?' unless part.current_page_part_revision.was_deleted? %>
      <%= label_tag 'uncheck to undelete this page_part' if part.current_page_part_revision.was_deleted? %>
      <%= check_box_tag("is_deleted[#{part.name}]", 1, part.current_page_part_revision.was_deleted?) %>
    </p>
  <% end %>
  <p>
    <%= label_tag 'Summary' %>:
    <%if @undo %>
      <%= text_field_tag('summary', 'Undid to revision' + @page_revision.id.to_s) %>
    <% else %>
      <%= text_field_tag('summary') %>
    <% end %>
  </p>
  <p><%= submit_tag 'Save' %></p>
<% end %>

<p>Or add a new page part here:</p>
<% form_tag "?add_page_part" do %>
  <p>
    <%= label_tag "new page part name" %><br />
    <%= text_field_tag('new_page_part_name') %>
  </p>
  <p>
    <%= text_area_tag "new_page_part_text", "", {:rows => 20, :cols => 80} %>
  </p>
  <p><%= submit_tag 'Add new page part' %></p>
<% end %>
<p>Or attach a file to a page here:</p>
<% form_for(:uploaded_file, :url => "?file_upload", :html => {:multipart => true}) do |f| %>
  <p>
    <label for="uploaded_file">Upload a File:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag 'Upload' %>
  </p>

<% end %>
