
<script type="text/javascript">

    var current_parts = new Array(<%= @page.page_parts.count %>);
    function lost_focus(){
        document.forms[0].elements["title"].focus();
    }

    function set_focus(part_name){
        document.forms[0].elements["parts["+part_name+"]"].focus();
    }

    function show_confirm(is_edited_by_another, part_id, part_name){
        if(is_edited_by_another && (!check_lock(part_id))){
            lost_focus();
            if(confirm('<%= t(:page_is_editing) %>')){
                add_lock(part_id);
                set_focus(part_name);
            } else{
                lost_focus();
                return false;
            }
        } else{
            add_lock(part_id);
        }
    }

    function add_lock(part_id){
        current_parts.push(part_id);
    }

    function check_lock(part_id){
        return (current_parts.indexOf(part_id) != -1);
    }
</script>
<div class="bonsai">
<div class="holder_right_dark">
<% form_for(:file_version, :url => save_edited_page_path(@page), :html => {:multipart => true}) do |f| %>
    <div class="header">
      <div class="header_content">
        <%= text_field_tag('title', @page.title) %>
      </div>
      <div class="header_right">
      </div>
    </div>
    <div class="main_content">

      <% if @current_user.can_manage_page? @page %>
          <p><%= label_tag 'layout', t(:layout) %><%= select_tag 'layout', options_for_select([['Inherit', nil], ['PeWe Layout', 'pewe']], @page.layout) %></p>
      <% end %>
      <% for part in @page.page_parts %>
          <% if @undo or !part.current_page_part_revision.was_deleted %>
              <div id="page_part_id_<%= part.id %>">
                <div class="page_part_listing">
                  <span><%= part.name %></span>
                  <% if @page.page_parts.count > 1 %>
                  <div class="page_part_edit_remove_link">
                    <%= link_to_remote icon_tag('cancel.png', :title => t(:delete_page_part)), :update=> "page_part_id_#{part.id}", :url => remove_page_part_path(@page, part.id), :href => remove_page_part_path(@page, part.id),  :confirm => t(:'are_you_sure_to_delete_part'),  :html => {:id=>"part_id_#{part.name}"} %>
                  </div>
                  <% end %>    
                  <div class="page_part_edit_remove_link" onclick="return toggleDivDiv(event)">
                    <%= icon_tag ('edit_small.gif',:alt =>'') %>
                  </div>
                </div>
                <div<%= ' style="display:none;"' unless part.name == 'body' %>>
                  <%= hidden_field_tag "parts_revision[#{part.name}]", part.current_page_part_revision.id %>

                  <% if part == @page_part %>
                      <%= text_area_tag "parts[#{part.name}]", @page_revision.body, :rows => 30, :cols => 80 %>
                  <% else %>
                      <%=
                          text_area_tag "parts[#{part.name}]", part.current_page_part_revision.body, :rows => 30, :cols => 80,
                                        :onfocus => remote_function( :url =>{ :controller => "page", :action => "add_lock" , :part_id => part.id}
                                        )
                      %>
                      <%= periodically_call_remote(
                              :url => {:controller => 'page', :action => 'update_lock', :part_id => part.id},
                              :frequency => APP_CONFIG['page_part']['saving_time'],
                              :condition => "(check_lock('#{part.id}') == true)"
                      )
                      %>

                  <% end %>
                  <%= render :partial => 'maruku_help' %>
                  <p>
                    <%= label_tag "parts_name[#{part.name}]", t(:name_of_page_part) %> <%= text_field_tag("parts_name[#{part.name}]", part.name) %><br/><br/>
                  </p>
                </div>
              </div>
          <% end %>
      <% end %>
      <p>
        <%= label_tag "summary", t(:summary) %>
        <%if @undo %>
            <%= text_field_tag('summary', 'Undid to revision' + @page_revision.id.to_s, :size => 40) %>
        <% else %>
            <%= text_field_tag('summary', nil, :size => 40) %>
        <% end %>
      </p>

      <p><%= t(:or) %> <a href="#" onclick="return toggleDiv(event);"><%= t(:add_new_page_part) %></a>.</p>
      <div style="display: none;">
        <p>
          <%= label_tag t(:new_part_name) %><br />
          <%= text_field_tag('new_page_part_name') %>
        </p>
        <p>
          <%= text_area_tag "new_page_part_text", "", {:rows => 20, :cols => 80} %>
        </p>
        <%= render :partial => 'maruku_help' %>
      </div>

      <%= hidden_field_tag('non_redirect', nil, :value => 1) %>

      <p><%= submit_tag t(:save) , :class=> "small_button" %></p>



    </div>

    <div class="main_content_right">

    <!-- FILES -->
    <h3><%= t(:files) %></h3>
    <div class="files lighter_bg">
      <% if @page.files.empty? then %>
          <%= t(:no_files_uploaded) %>
      <% else %>
          <table class="files_history" style="width:250px;">
            <thead>
            <tr>
              <th></th>
              <th><%= t(:file) %></th>
              <th><%= t(:history) %></th>
            </tr>
            </thead>
            <tbody>
            <% for file in @page.files %>
                <tr>
                  <% if (not file.current_file_version.nil?) %>
                      <td style="width:20px"><%= file_type_image_tag(file.current_file_version) %></td>
                      <td style="width:220px"><%=
                          if file.attachment_filename.length > 23
                              link_to file.attachment_filename[0,23], file.attachment_filename
                          else
                              link_to file.attachment_filename, file.attachment_filename
                          end
                      %>
                      </td>
                      <td style="text-align:center">
                        <% if (file.file_versions.length > 1) %>
                            <%= link_to icon_tag('file_rev.png', :alt => 'show file\'s history'), file_history_page_path(@page, file.attachment_filename) %>
                        <% else %>
                            <%= icon_tag('file_rev_dis.png', :alt => 'show file\'s history') %>
                        <% end %>
                      </td>
                  <% else %>
                      <td style="width:20px"><%= file_type_image_tag(file) %></td>
                      <td style="width:220px"><%= link_to file.attachment_filename, file.attachment_filename %></td>
                      <td style="text-align:center"><%= icon_tag('file_rev_dis.png', :alt => 'show file\'s history') %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

      <br />
      <div>
        <%= t(:or) %> <a href="#" onclick="return toggleDiv(event);"><%= t(:attach_file) %></a>.
      </div>
      <div style="display: none;">
        <div>
          <label for="file_version"><%= t(:upload_file) %><br/><%= f.file_field :uploaded_data, :size =>'20' %></label>
        </div>
        <div class="info_warning">
          <%= t(:files_warning) %>
        </div>
      </div>
    </div>
    <!-- END OF FILES -->

     <% if @current_user.can_manage_page? @page %>
    <!--PAGE PERMISIONS -->
    <h3><%= t(:permissions_for) %></h3>
    <div class="lighter_bg" id="permissions">

      <%#= render :partial => 'page/remove_permission' %>
      <table class="page_permisions">
        <thead>
        <tr>
          <th><%= t(:group)%></th>
          <th><%= t(:permission)%></th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <% @page.page_permissions.each_with_index do |permission, index| %>
            <tr id="group_<%= index %>">
              <% opravnenie = 0
                 ciarky = 0
                 linka = false
              %>

              <% if permission.group.users.include? @current_user %>
                  <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent)) ||(permission.can_view?) )
                      opravnenie = 1
                  end %>

                  <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent)) || (permission.can_edit?))
                      opravnenie = 2
                  end %>

                  <% if permission.can_manage?
                      opravnenie = 3
                  end %>
              <% else %>
                  <% linka = true %>

                  <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent)) || (permission.can_view?))
                      opravnenie = 1
                  end %>

                  <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent)) || (permission.can_edit?))
                      opravnenie = 2
                  end %>

                  <% if permission.can_manage?
                      opravnenie = 3
                  end %>
              <% end %>


              <% if opravnenie > 0 %>
                  <%# if permission.group.users.include? @current_user %>
                  <td><%=h  permission.group.name %></td>
                  <td>
                    <select <%= (linka == true) ? "" : "disabled = 'true'" %> name="<%= permission.group.name%>_select" id="<%= permission.group.name%>_select">
                      <% if !(@page.is_editable?) %>
                          <option value='1' <%= opravnenie == 1? "selected='selected'" : '' %>><%= t(:viewer) %></option>
                      <% end %>
                      <option value='2' <%= opravnenie == 2? "selected='selected'" : '' %>><%= t(:editor) %></option>
                      <option value='3' <%= opravnenie == 3? "selected='selected'" : '' %>><%= t(:manager) %></option>
                    </select>
                  </td>
                  <%# else %>

                  <%# end %>

                  <td>
                    <% if linka == true %>
                        <%= link_to_remote icon_tag('cancel.png', :title => t(:remove)), :update=> "group_#{index}", :url => _remove_permission_path(@page, index), :href => _remove_permission_path(@page, index),  :confirm => t(:'are_you_sure_to_remove_permission') %>
                    <% end %>
                  </td>
              <% end %>
            </tr>
        <% end %>
        <tr>
          <td><%= t(:everyone) %></td>
          <!-- <td><%#= link_to image_boolean(@page.is_public?, t(:toggle)), switch_public_path(@page), {:method => :post} %></td> -->
          <td colspan="2"> <select name="everyone_select" id="everyone_select">
            <option selected = "selected" >-</option>
            <option value="1" <%= @page.is_public? ? selected = "selected": "" %> ><%= t(:can_view) %></option>
            <option value="2" <%=  @page.is_editable? ? selected = "selected" : "" %> ><%= t(:can_edit) %></option>
          </select>
          </td>
        </tr>
        </tbody>
      </table>

      <% unless @page.ancestors.empty? %>
          <h3><%= t(:inherited_permissions) %></h3>
          <table>
            <thead>
            <tr>
              <td><%= t(:group)%></td>
              <td><%= t(:permission)%></td>
              <td><%= t(:via)%></td>
            </tr>
            </thead>
            <tbody>
            <% @page.ancestors.each do |ancestor| %>

                <% ancestor.page_permissions.each do |permission| %>
                    <tr>
                      <td><%=h  permission.group.name %></td>

                      <% opravnenie = 0 %>
                      <% if ancestor.is_public? %>
                          <% opravnenie = 1 %>
                      <% else %>
                          <% if permission.can_view?
                              opravnenie = 1
                          end %>
                      <% end %>
                      <% if ancestor.is_editable? %>
                          <% opravnenie = 2 %>
                      <% else %>
                          <% if permission.can_edit?
                              opravnenie = 2
                          end %>
                      <% end %>
                      <td><% if permission.can_manage?
                          opravnenie = 3
                      end %>
                        <%= opravnenie %>
                      </td>
                      <td><%= ancestor.sid %></td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
      <% end %>


      <h4><%= t(:add_group_permission) %></h4>
      <% form_tag :controller => 'page', :action => 'set_permissions' do %>
          <%= text_field_tag('add_group') %> <%= select('group_role', 'type',{t(:viewer) => "1", t(:editor) => "2", t(:manager)=> "3"}) %> <%#= submit_tag t(:set) %><br/>
          <div id="autocomplete" style="display: none;" class="autocomplete"></div>
          <script type="text/javascript">
              //<![CDATA[
              var autocompleter = new Ajax.Autocompleter('add_group', 'autocomplete', '/groups/autocomplete_for_groups', {paramName: 'infix', method: 'get', select: 'groupname', tokens: ','});
              //]]>
          </script>
      <% end %>
      <div class="info_warning">
        <%= t(:permissions_warning)%>
      </div>
      <!-- END OF PAGE PERMISIONS -->
    </div>
<%else%>
    <%= t(:permissions_error)%>
<%end %>
       </div>
<% end %>
</div>
</div>
<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_dark">
  </div>
</div>


















