<div class="holder_right">
  <div class="header">
    <div class="header_content">
      <h1><%= h t(:files) %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  <div class="main_content">
    <% if @page.uploaded_files.empty? then %>
        <p><%= t(:no_files_uploaded) %></p>
    <% else %>
        <table class="history center">
          <thead>
          <tr>
            <th></th>
            <th><%= t(:file) %></th>
            <th><%= t(:uploader) %></th>
            <th><%= t(:size) %></th>
            <th><%= t(:creation_time) %></th>
            <th><%= t(:history) %></th>
          </tr>
          </thead>
          <tbody>
          <% for file in @page.uploaded_files %>
              <tr>
                <td><%= file_type_image_tag(file) %></td>
                <td><%= link_to file.filename, file.filename %></td>
                <td>
                  <% if file.current_file_version.uploader.nil? %><%= t(:unknown) %>
                      <% else %><%= h file.current_file_version.uploader.full_name %>
                  <% end %></td>
                <td><%= number_to_human_size(file.current_file_version.size, :precision => 2) %></td>
                <td><%= file.current_file_version.created_at.localtime.strftime("%H:%M:%S %d %b %Y") %></td>
                <td>
                  <% if (file.versions.length > 1) %>
                      <%= link_to icon_tag('file_rev.png', :alt => 'show file\'s history'), file_history_page_path(@page, file.filename) %>
                  <% else %>
                      <%= icon_tag('file_rev_dis.png', :alt => 'show file\'s history') %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>
    <p><%= t(:you_can) %> <a href="#" onclick="return toggleDiv('add_new_file');"><%= t(:upload_new_file) %></a>.</p>

    <div style="display: none;" id="add_new_file">
      <% form_for(:file_version, :url => upload_file_path(@page), :html => {:multipart => true}) do |f| %>
          <p><label for="file_version"><%= t(:upload_file) %><br/><%= f.file_field :uploaded_data %>
          </label><%= submit_tag t(:btn_upload), :class=>'small_button' %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>