<div class="holder_right">
  <div class="header">
    <div class="header_content">
     <span class="subtitle"><%= t(:file_history) %></span> <h1><%= @file.filename %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  <div class="main_content">

    <% if @file.versions.size < 2 %>
        <%= t(:file_history_not_exist) %>
        <p>
          <%= link_to t(:back), list_files_path(@page) %>
        </p>
    <% else %>
        <table class="history center">
          <thead>
          <tr>
            <th></th>
            <th><%= t(:version) %></th>
            <th><%= t(:uploader) %></th>
            <th><%= t(:size) %></th>
            <th><%= t(:creation_time) %></th>
          </tr>
          </thead>
          <tbody>
          <% for version in @file.versions %>
              <tr>
                <td><%= file_type_image_tag(@file) %></td>
                <td><%= link_to "Version #{version.version}", @file.filename + '?version=' + version.version.to_s %></td>
                <td><% if version.uploader.nil? %><%= t(:unknown) %><% else %><%= h version.uploader.full_name %><% end %></td>
                <td><%= number_to_human_size(version.size) %></td>
                <td><%= version.created_at.strftime("%H:%M:%S %d %b %Y") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <!--<p>-->
          <%#= link_to t(:back), list_files_path(@page) %>
        <!--</p>-->
    <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>
      