<% if @page.files.empty? then %>
    <p><%= t(:no_files_uploaded) %></p>
<% else %>
    <table>
      <thead>
      <tr>
        <th><%= t(:file) %></th>
        <th><%= t(:uploader) %></th>
      </tr>
      </thead>
      <tbody>
      <% for file in @page.files %>
          <tr>
            <% if file.respond_to? :user %>
                <td><%= link_to file.filename, file.filename %></td>
                <td><% if file.user.nil? %><%= t(:unknown) %><% else %><%= h file.user.full_name %><% end %></td>
            <% else %>
                <td><%= link_to file, file %></td>
                <td><%= t(:unknown) %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>



