<div class="bonsai">
  <h1>Permissions for <%=h @page.title %></h1>
  <table>
    <thead>
      <tr>
        <th>Group</th>
        <th>Viewer</th>
        <th>Editor</th>
        <th>Manager</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @page.page_permissions.each_with_index do |permission, index| %>
        <tr>
          <td><%=h  permission.group.name %></td>

          <% if permission.group.users.include? @current_user %>
            <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= image_boolean(permission.can_view, 'You cannot change your own management permission') %></td>
            <% end %>
            <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= image_boolean(permission.can_edit, 'You cannot change your own management permission') %></td>
            <% end %>
            <td><%= image_boolean(permission.can_manage, 'You cannot change your own management permission') %></td>
          <% else %>
            <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= link_to image_boolean(permission.can_view, 'Toggle permission'), "#{@page.get_path};change_permission?index=#{index}&permission=can_view", {:method => :post}  %></td>
            <% end %>
            <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= link_to image_boolean(permission.can_edit, 'Toggle permission'), "#{@page.get_path};change_permission?index=#{index}&permission=can_edit", {:method => :post}  %></td>
            <% end %>
            <td><%= link_to image_boolean(permission.can_manage, 'Toggle permission'), "#{@page.get_path};change_permission?index=#{index}&permission=can_manage", {:method => :post}  %></td>

          <% end %>
          <td><%= link_to "remove", "#{@page.get_path}?remove_permission&index=#{index}", {:method => :post}  %></td>
        </tr>
      <% end %>
      <tr>
        <td>Everyone</td>
        <td><%= link_to image_boolean(@page.is_public?, 'Toggle permission'), "#{@page.get_path};switch_public", {:method => :post} %></td>
        <td><%= link_to image_boolean(@page.is_editable?, 'Toggle permission'), "#{@page.get_path};switch_editable", {:method => :post} %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <% unless @page.ancestors.empty? %>
    <h2>Inherited permissions</h2>
    <table>
      <thead>
        <tr>
          <td>Group</td>
          <td>Viewer</td>
          <td>Editor</td>
          <td>Manager</td>
          <td>Via</td>
        </tr>
      </thead>
      <tbody>
        <% @page.ancestors.each do |ancestor| %>
          <% ancestor.page_permissions.each do |permission| %>
            <tr>
              <td><%=h  permission.group.name %></td>
              <% if ancestor.is_public? %>
                <td>-</td>
              <% else %>
                <td><%= image_boolean(permission.can_view, 'You cannot change inherited permission') %></td>
              <% end %>
              <% if ancestor.is_editable? %>
                <td>-</td>
              <% else %>
                <td><%= image_boolean(permission.can_edit, 'You cannot change inherited permission') %></td>
              <% end %>
              <td><%= image_boolean(permission.can_manage, 'You cannot change inherited permission') %></td>
              <td><%= ancestor.sid %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2>Add group permission</h2>
  <% form_tag :controller => 'page', :action => 'set_permissions' do %>
    <%= text_field_tag('add_group') %><br/>
    <div id="autocomplete" style="display: none;" class="autocomplete"></div>
     <script type="text/javascript">
        //<![CDATA[
        var autocompleter = new Ajax.Autocompleter('add_group', 'autocomplete', '/groups/autocomplete_for_groups', {paramName: 'prefix', method: 'get', tokens: ','});
        //]]>
    </script>
    <label><%= check_box_tag("can_view")%> Reader</label><br/>
    <label><%= check_box_tag("can_edit")%> Editor</label><br/>
    <label><%= check_box_tag("can_manage")%> Manager</label><br/>

    <%= submit_tag 'Set' %>
  <% end %>
</div>
