<div class="bonsai">
  <h1>Permissions for <%=h @page.title %></h1>
  <table>
    <thead>
      <tr>
        <th>Group</th>
        <th>Viewer</th>
        <th>Editor</th>
        <th>Manager</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @page.page_permissions.each_with_index do |permission, index| %>
        <tr>
          <td><%=h  permission.group.name %></td>

          <% if permission.group.users.include? @current_user %>
            <td><%= image_boolean(permission.can_view, 'You cannot change your own management permission') %></td>
            <td><%= image_boolean(permission.can_edit, 'You cannot change your own management permission') %></td>
            <td><%= image_boolean(permission.can_manage, 'You cannot change your own management permission') %></td>
          <% else %>
            <td><%= link_to image_boolean(permission.can_view, 'Toggle permission'), "?change-permission&index=#{index}&permission=can_view", {:method => :post}  %></td>
            <td><%= link_to image_boolean(permission.can_edit, 'Toggle permission'), "?change-permission&index=#{index}&permission=can_edit", {:method => :post}  %></td>
            <td><%= link_to image_boolean(permission.can_manage, 'Toggle permission'), "?change-permission&index=#{index}&permission=can_manage", {:method => :post}  %></td>

          <% end %>
          <td><%= link_to "remove", "?remove-permission&index=#{index}", {:method => :post}  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Quick setup</h2>
  <p><%= link_to "Make this page public", "?make-public"%><br />
  <span class="description">Removes all viewer permissions on this page, so anyone can view it.<span></p>

  <p><%= link_to "Make this page editable by logged users", "?make-editable" %><br />
  <span class="description">Removes all viewer and editors from this page, so anyone can view it and logged users can edit it.<span></p>
  <h2>Add group permission</h2>
  <% form_tag '?set-permissions' do %>
    <%= collection_select(:groups,:id, @current_user.visible_groups + Group.groups_visible_for_all, :id, :name, {}, {:size => 5, :multiple => :true}) %><br/>
    <label><%= check_box_tag("can_view")%> Reader</label><br/>
    <label><%= check_box_tag("can_edit")%> Editor</label><br/>
    <label><%= check_box_tag("can_manage")%> Manager</label><br/>
    <%= submit_tag 'Set' %>
  <% end %>
</div>
