<div class="holder_right">
  <div class="header">
    <div class="header_content">
      <h1><%= t("views.page.new_page") %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  <div class="main_content" style="width:80%">
    <% form_tag(url_for(:action => 'create', :path => @path), :method => :post, :id => "edit_form") do %>
        <div>
          <%= hidden_field_tag "parent_id", @parent_id %>
          <%= hidden_field_tag "sid", @sid %>
          <p>
            <%= label_tag :title %><br />
            <%= text_field_tag "title", :title %>
          </p>
          <p>
            <%= label_tag :body %><br />
            <%= text_area_tag "body", @body, :rows => 30, :style => 'width:100%' %>
          </p>
          <%= link_to t('views.syntax_help.syntax_help'), {:action => "maruku_help"}, :target => "_blank" %>
          <p><%= label_tag t("views.page.summary") %>:<%= text_field_tag('summary') %></p>

          <p><%= label_tag 'layout', t("views.page.layout") %>
           <%= select_tag :layout, options_for_select(@user_layouts, @layout),
               :onchange => remote_function(:with => "'parent_layout=#{@parent_layout}&layout='+encodeURIComponent(value)",
                                            :url => {:controller => "page",
                                            :action => 'show_layout_helper'})  %>
          </p>
          <div id="layout_details" class="lighter_bg" style="display:none;"></div>

          <p><%= submit_tag t("views.page.save"), :name => 'Save', :class=> "small_button", :onclick => "subm('edit_form','save');" %>
          <%= submit_tag t("views.page.preview"), :name => 'Preview', :class=> "small_button", :onclick => "subm('edit_form','preview');" %></p>
        </div>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>