 <% definition = get_layout_definitions %>

    <% if (definition.length == 0)
        user_layouts = [['Inherit', nil]]
       else
        user_layouts = []
      end %>

    <% unless definition.nil? %>

    <script type="text/javascript">

    function showLayoutsHelper(s){
        var default_layout = '<%= @parent_layout %>';
        var selected_value = (s.value == null || s.value == "") ? default_layout : s.value;
        //new array for layouts help
        var layouts = new Array(<%= (definition.length + 1) %>)
   
        var translation = new Array();

    <% for file in definition
        params = get_layout_parameters(file)
        #if option_value has the same value as found inherited layout, we set a option_value to nil
        option_value = (params[0] == @parent_layout) ? @layout : params[0]
        #if current page has parent, but page layout was set to nil and option_value has the same value as found inherited layout
        #that means, this is inherited layout => we set prefix Inherited
        option_text = (!@parent_id.nil? and @layout.nil? and params[0] == @parent_layout) ? 'Inherited (' + params[1] + ')' : params[1]
        user_layouts.push([option_text, option_value]) %>

        layouts['<%= params[0] %>'] = new Array(3);
        layouts['<%= params[0] %>']['name'] = '<%= params[1] %>';
        layouts['<%= params[0] %>']['description'] = '<%= t("layouts.#{params[0]}.description") %>';
        layouts['<%= params[0] %>']['page_parts'] = <%= params[2].to_json %>;

     <% unless params[2].nil? %>
        translation['<%= params[0] %>'] = new Array(<%= params[2].length %>);
       <% for p in params[2] do %>
        translation['<%= "#{params[0]}" %>']['<%= "#{p}" %>'] = '<%= t("layouts.#{params[0]}.parts.#{p}") %>';
       <% end %>
     <% end %>
    <% end %>

        var layout_help = document.getElementById('layout_details');
        if(layout_help != null){

            var layout_message = "";

            var index = s.selectedIndex;
            var selected_text = s[index].text;
            var find = 'Inherit';

            if(selected_text.search(find) != -1){
                layout_message += "<p>"+'<%= t(:layout_is_inherited)%>'+"<strong>"+layouts[selected_value]['name']+"</strong></p>";
            }

            if(!(layouts[selected_value]['description'] == null || layouts[selected_value]['description'] == "" )){
               layout_message += "<h3>" + layouts[selected_value]['description'] + "</h3>";
            }

            if(!(layouts[selected_value]['page_parts'] == null || layouts[selected_value]['page_parts'] == "" )){
                layout_message += "<%= t(:layout_help_title) %>";
                layout_message += "<ul>";
                var layout_pp = layouts[selected_value]['page_parts'];
                for(i=0; i < layout_pp.length; i++) {
                    layout_message += "<li><strong>" + layout_pp[i] +" "+ "</strong>" + " " + translation[selected_value][layout_pp[i]] + "</li>";
                }
                layout_message += "</ul>";
            }

            layout_help.innerHTML =  layout_message;
            /*hack for IE */
            if(navigator.appName == "Microsoft Internet Explorer")
                layout_help.style.display='block';
            else
                layout_help.blindDown();
        }

    }
    </script>
    <% end %>


<div class="holder_right">
  <div class="header">
    <div class="header_content">
      <h1><%= t(:new_page) %></h1>
    </div>
    <div class="header_right">
    </div>
  </div>
  <div class="main_content" style="width:80%">
    <% form_tag("/#{@path};create", :method => :post, :id => "edit_form") do %>
        <div>
          <%= hidden_field_tag "parent_id", @parent_id %>
          <%= hidden_field_tag "sid", @sid %>
          <p>
            <%= label_tag :title %><br />
            <%= text_field_tag "title", :title %>
          </p>
          <p>
            <%= label_tag :body %><br />
            <%= text_area_tag "body", @body, :rows => 30, :style => 'width:100%' %>
          </p>
          <%= render :partial => 'maruku_help' %>
          <p><%= label_tag t(:summary) %>:<%= text_field_tag('summary') %></p>

          <p><%= label_tag 'layout', t(:layout) %>
          <%= select_tag :layout, options_for_select(user_layouts, @layout),
               :onchange => 'javascript:showLayoutsHelper(this)' %>
          </p>
          <div id="layout_details" class="lighter_bg" style="display:none;"></div>

          <p><%= submit_tag t(:save), :class=> "small_button", :onclick => "subm('edit_form','save');" %>
          <%= submit_tag t(:preview), :class=> "small_button", :onclick => "subm('edit_form','preview');" %></p>
        </div>
    <% end %>
  </div>
</div>


<div class="footer">
  <div class="footer_left">
  </div>
  <div class="footer_right_light">
  </div>
</div>