<h1>Page does not exists. Do you want to create it?</h1>

<% form_tag('?create', :method => :post) do %>
  <%= hidden_field_tag "parent_id", @parent_id %>
  <%= hidden_field_tag "sid", @sid %>
  <p>
    <%= label_tag :title %><br />
    <%= text_field_tag "title", :title %>
  </p>
  <p>
    <%= label_tag :body %><br />
    <%= text_area_tag "body", @body, :rows => 30, :cols => 80 %>
    <ul>
          <li>Paragraphs --- simply one or more consecutive lines of text, separated by one or more blank lines</li>
          <li>
            Headings
            <ul>
              <li># This is an H1 </li>
              <li>## This is an H2</li>
              <li>###### This is an H6</li>
            </ul>
          </li>
          <li>Lists
            <ul>
              <li>Use asterisks (*), pluses (+), and hyphens (-) as list markers:
                <p>
                  * itemA<br/>
                  * itemB<br/>
                  * itemC<br/>
                </p>
              </li>
              <li>Ordered lists use numbers followed by periods:
                <p>
                  1. first item<br/>
                  2. second item<br/>
                  3. third item<br/>
                </p>
              </li>
            </ul>
          </li>
          <li>Links
            <ul>
              <li>This is [an example](http://example.com/ "Title") inline link.</li>
              <li>See my [About](/about/) page for details.</li>
            </ul>
          </li>
        </ul>
        <p>Here you can find further information related to <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a></p>
  </p>
  <p>
    <p><%= label_tag 'Summary' %>:<%= text_field_tag('summary') %></p>
  </p>
  <p>
    <p><%= label_tag 'Layout' %>:<%= select_tag 'layout', options_for_select([['Inherit', nil], ['PeWe Layout', 'pewe']], @layout) %></p>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>