<div class="bonsai">
  <h1><%= t(:subpages) %> <%= @page.title %></h1>
  <ul class="TreeView" id="TreeView">
    <% for page in @page.get_children_tree(@page,@user_name) %>
       <% if !@lvl.nil? and @lvl > page.level %>
           <%(1..@lvl-page.level).each do %>
            </ul></li>
            <%end%>
        <%end%>
         <% if (@lvl.nil? ? @page.level-1: @lvl) < page.level %>
        <%for num in 1..(page.level-(@lvl.nil? ? (@page.level-1): @lvl)-1)%>
            <li class="Collapsed"><div onclick="toggleTreeElement(this.parentNode,event);">
              [hidden]</div><ul style="display:none;">
        <%end%>
        <%end%>
        <%if !page.leaf? %>
        <%if page.level==@page.level%>
          <li class="Expanded">
            <div onclick="toggleTreeElement(this.parentNode,event);" onmouseover="link_visible(this,'inline');" onmouseout="link_visible(this,'none');">
            <%= page.title %>&nbsp;<%= link_to_page page %></div><ul>
       <%else%>
          <li class="Collapsed">
           <div onclick="toggleTreeElement(this.parentNode,event);" onmouseover="link_visible(this,'inline');" onmouseout="link_visible(this,'none');">
            <%= page.title %>&nbsp;<%= link_to_page page %></div><ul style="display:none;">
        <%end%>
      <%else%>
         <li><div onmouseover="link_visible(this,'inline');" onmouseout="link_visible(this,'none');">
           <%= page.title %>&nbsp;<%= link_to_page page %></div></li>
       <%end%>
        <% @lvl = page.level%>
    <%end%>
  <%(1..@lvl-@page.level).each do%>
            </ul></li>
     <%end%>
  </ul>
</div>