<p><%= t(:file_not_found) %></p>

<% if (!@page.nil?) && (@current_user.can_edit_page? @page) %>
    <p><%= t(:you_can) %> <a href="#" onclick="return toggleDiv(event);"><%= t(:upload_this_file) %></a>.</p>
    <div style="display: none;">
      <% form_for(:file_version, :url => upload_file_path(@page), :html => {:multipart => true}) do |f| %>
          <%= hidden_field_tag('uploaded_file_filename', @filename) %>
          <p><label for="file_version"><%= t(:upload_file) %><br/><%= f.file_field :uploaded_data %>
          </label><%= submit_tag t(:btn_upload) %></p>
      <% end %>
    </div>
<% end %>
