<div class="bonsai">
  <h1><%= t(:permissions_for) %> <%=h @page.title %></h1>
  <table>
    <thead>
      <tr>
        <th><%= t(:group)%></th>
        <th><%= t(:viewer)%></th>
        <th><%= t(:editor)%></th>
        <th><%= t(:manager)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @page.page_permissions.each_with_index do |permission, index| %>
        <tr>
          <td><%=h  permission.group.name %></td>

          <% if permission.group.users.include? @current_user %>
            <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= image_boolean(permission.can_view, t(:err_management_perm)) %></td>
            <% end %>
            <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= image_boolean(permission.can_edit, t(:err_management_perm)) %></td>
            <% end %>
            <td><%= image_boolean(permission.can_manage, t(:err_management_perm)) %></td>
          <% else %>
            <% if ((@page.is_public?) || ((!@page.parent.nil?) && (!@page.parent.is_public?) && (permission.group.can_view_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= link_to image_boolean(permission.can_view, t(:toggle)), change_permission_path(@page,index, 'can_view'), {:method => :post}  %></td>
            <% end %>
            <% if ((@page.is_editable?) || ((!@page.parent.nil?) && (!@page.parent.is_editable?) && (permission.group.can_edit_page? @page.parent))) %>
              <td>-</td>
            <% else %>
              <td><%= link_to image_boolean(permission.can_edit, t(:toggle)), change_permission_path(@page,index, 'can_edit'), {:method => :post}  %></td>
            <% end %>
            <td><%= link_to image_boolean(permission.can_manage, t(:toggle)), change_permission_path(@page,index, 'can_manage'), {:method => :post}  %></td>

          <% end %>
          <td><%= link_to t(:remove), remove_permission_path(@page, index), {:method => :post}  %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= t(:everyone) %></td>
        <td><%= link_to image_boolean(@page.is_public?, t(:toggle)), switch_public_path(@page), {:method => :post} %></td>
        <td><%= link_to image_boolean(@page.is_editable?, t(:toggle)), switch_editable(@page), {:method => :post} %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <% unless @page.ancestors.empty? %>
    <h2><%= t(:inherited_permissions) %></h2>
    <table>
      <thead>
        <tr>
          <td><%= t(:group)%></td>
          <td><%= t(:viewer)%></td>
          <td><%= t(:editor)%></td>
          <td><%= t(:manager)%></td>
          <td><%= t(:via)%></td>
        </tr>
      </thead>
      <tbody>
        <% @page.ancestors.each do |ancestor| %>
          <% ancestor.page_permissions.each do |permission| %>
            <tr>
              <td><%=h  permission.group.name %></td>
              <% if ancestor.is_public? %>
                <td>-</td>
              <% else %>
                <td><%= image_boolean(permission.can_view, t(:err_inherit_perm)) %></td>
              <% end %>
              <% if ancestor.is_editable? %>
                <td>-</td>
              <% else %>
                <td><%= image_boolean(permission.can_edit, t(:err_inherit_perm)) %></td>
              <% end %>
              <td><%= image_boolean(permission.can_manage, t(:err_inherit_perm)) %></td>
              <td><%= ancestor.sid %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2><%= t(:add_group_permission) %></h2>
  <% form_tag :controller => 'page', :action => 'set_permissions' do %>
    <%= text_field_tag('add_group') %> <%= select('group_role', 'type', ['viewer', 'editor', 'manager']) %> <%= submit_tag t(:set) %><br/>
    <div id="autocomplete" style="display: none;" class="autocomplete"></div>
     <script type="text/javascript">
        //<![CDATA[
        var autocompleter = new Ajax.Autocompleter('add_group', 'autocomplete', '/groups/autocomplete_for_groups', {paramName: 'infix', method: 'get', select: 'groupname', tokens: ','});
        //]]>
    </script>


  <% end %>
</div>
