<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%=h @page.full_title unless @page.nil? %></title>
    <%= stylesheet_link_tag 'bonsai' %>
    <%= stylesheet_link_tag 'default' %>
    <!-- Start Syntax Highlight -->
    <%= stylesheet_link_tag 'SyntaxHighlighter/shCore.css' %>
    <%= stylesheet_link_tag 'SyntaxHighlighter/shThemeDefault.css' %>

    <%= javascript_include_tag 'SyntaxHighlighter/shCore.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shLegacy.js' %>
    
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushRuby.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushPhp.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushXml.js' %>
     <%= javascript_include_tag 'SyntaxHighlighter/shBrushCpp.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushCSharp.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushCss.js' %>
     <%= javascript_include_tag 'SyntaxHighlighter/shBrushDelphi.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushJava.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushJScript.js' %>
     <%= javascript_include_tag 'SyntaxHighlighter/shBrushPython.js' %>
    <%= javascript_include_tag 'SyntaxHighlighter/shBrushSql.js' %>
    <!-- End Syntax Highlight -->
    <!-- Start WMD Editor -->
    <script type="text/javascript">
        /***** Tell WMD not to start up automatically *****/
        // Set this *before* you load wmd.js
        wmd_options = { autostart: false };
    </script>
    <%= javascript_include_tag 'wmd_creator.js' %>
    <%= javascript_include_tag 'wmd.js' %>
    <!-- End WMD Editor -->
    <%= javascript_include_tag :defaults, :cache => true %>
    <%= render :partial => 'shared/rss_link' %>
  </head>
  <body onLoad="javascript:findTextareasAndCreateEditor()">
    <%= render :partial => 'shared/toolbar' %>
    <div id="holder">
    <% unless flash.empty? %><p id="flash" class="<%= flash.keys.first %>"><%=h flash.values.first %></p><% end %>
    <%= yield %>
    </div>
  <%= render :partial => 'shared/analytics' %>
  <script type="text/javascript">
      SyntaxHighlighter.all();
     dp.SyntaxHighlighter.HighlightAll('code');
13</script>
  </body>
</html>
