<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Bonsai</title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'visual' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="toolbar">
      <% if @current_user.nil? %>
        <% form_tag login_path do %>
          <p><label>Login: <%= text_field_tag 'username', nil, :size => 10 %></label>
            <label>Password: <%= password_field_tag 'password', nil, :size => 15 %></label>
            <%= submit_tag 'Log in' %>
          <% end %>
        </p>
      <% else %>
        <p>Logged in as: <%= @current_user.full_name %> | <%= link_to "Log out", logout_path %></p>
        <% unless @page.nil? %>
          <p><% if @current_user.can_edit_page? @page %><%= link_to "edit this page", '?edit' %><% end %></p>
        <% end %>        
      <% end %>
    </div>
    <div id="holder">
      <% unless flash.empty? %><p id="flash" class="<%= flash.keys.first %>"><%=h flash.values.first %></p><% end %>
      <%= yield  %>
    </div>
  </body>
</html>
