<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render :partial => 'shared/head_includes' %>
    <!-- special layout style -->
    <%= stylesheet_link_tag 'pewe' %>
  </head>
  <body onLoad="javascript:clickMenu('menu');setContentWidth();findTextareasAndCreateEditor();">
    <%= render :partial => 'shared/toolbar' %>
    <% unless flash.empty? %><p id="flash" class="<%= flash.keys.first %>"><%=h flash.values.first %></p><% end %>
    <div id="pewe-holder">
      <div id="container">
        <div id="caption"><%= markdown(@page.resolve_part('caption')) %></div>
        <div id="nav"><%= markdown(@page.resolve_part('navigation')) %></div>
        <div id="content">
          <div id="c2">
            <%= markdown(@page.resolve_part('body')) %>
            <% for part in @page.page_parts %>
              <% unless part.current_page_part_revision.was_deleted or ['caption', 'navigation', 'body', 'footer'].include?(part.name) %>
                <div id="part-<%= part.name.parameterize %>">
                  <%= markdown(part.current_page_part_revision.body) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div id="footer"><%= markdown(@page.resolve_part('footer')) %></div>
      </div>
    </div>
  <%= render :partial => 'shared/analytics' %>
  </body>
</html>
