<%= render :partial => 'shared/header' %>

<div id="pewe-holder">
  <div id="container">
    <div id="caption"><%= markdown(@page.resolve_part('caption')) %></div>
    <div id="nav"><%= markdown(@page.resolve_part('navigation')) %></div>
    <div id="content">
      <div id="c2">
        <%= markdown(@page.resolve_part('body')) %>
        <% for part in @page.page_parts %>
            <% unless part.current_page_part_revision.was_deleted or ['caption', 'navigation', 'body', 'footer'].include?(part.name) %>
                <div id="part-<%= part.name.parameterize %>">
                  <%= markdown(part.current_page_part_revision.body) %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div id="footer"><%= markdown(@page.resolve_part('footer')) %></div>
  </div>
</div>


<%= render :partial => 'shared/footer' %>
